@media(min-width:650px){
    .inferior{
        display: flex;
    }

    .esquerda{
        width: 100%;
        padding: 2.5rem;
    }

    .direita{
        width: 100%;
        padding: 2.5rem;
    }

    main{
        max-width:640px;
        padding: 0%;
    }

    body{
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .superior{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 2.5rem;
    }

    h1{
        font-size: 1.5rem;
    }

    .primeiro{
        font-size: 1.125rem;
    }

    .segundo{
        font-size: 1rem;
    }

    .esquerda{
        border-bottom-left-radius: 8px; 
    }

    .direita{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 8px;
    }
}